:root {
  --primary-title-color: #ffffff;
  --secondary-title-color: #212121;
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --accent-color: #2196f3;
  --border-color: #ececec;
  --bg-color: #f5f4fa;
  --primery-icon-color: #afb1b8;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-title-color);
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.btn {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  border: 0;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  background-color: var(--accent-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-list__item + .social-item {
  margin-left: 10px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: var(--primery-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .social-list__icon,
.social-link:focus .social-list__icon {
  fill: var(--secondary-text-color);
}

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(2);
  opacity: 0;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-list__item + .social-item {
  margin-left: 10px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: var(--primery-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .social-list__icon,
.social-link:focus .social-list__icon {
  fill: var(--secondary-text-color);
}

.header {
  border-bottom: 1px solid var(--border-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-navigation .logo {
  margin-right: 93px;
}

.header-list {
  display: flex;
}

.header-logo {
  color: #000000;
}

.header-contact {
  display: flex;
  margin-left: auto;
  color: var(--primary-text-color);
}

.header-item {
  display: flex;
  padding: 32px 0;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  font-weight: 500;
  line-height: 1.14;
  color: var(--secondary-title-color);
  display: flex;
  align-items: center;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover, .header-link:focus {
  color: var(--accent-color);
}

.header-contact-item {
  color: var(--primary-text-color);
}

.current-link {
  color: var(--accent-color);
}

.header-icon {
  fill: var(--primary-text-color);
  margin-right: 10px;
  fill: currentColor;
}

.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  display: block;
  bottom: -33px;
}

.hero {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  margin: 0 auto;
  max-width: 696px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}

.hero__btn {
  padding: 10px 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn:hover, .hero__btn:focus {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  background-color: #188ce8;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -30px;
  margin-top: -30px;
}

.advantages-list__card {
  max-width: 270px;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 4 - 30px);
}

.advantages-list__item {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

.advantages-list__link {
  font-weight: 400;
  line-height: 1.71;
}

.advantages-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  height: 120px;
  margin-bottom: 30px;
}

.work {
  padding-top: 0;
}

.work__title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--secondary-title-color);
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -30px;
  margin-top: -30px;
}

.work-list__card {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
  position: relative;
}

.work-list__text {
  font-size: 14px;
  color: var(--secondary-text-color);
  background: rgba(47, 48, 58, 0.8);
  text-align: center;
  padding: 27px;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
}

.team {
  background: var(--bg-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -30px;
  margin-top: -30px;
}

.team-list__card {
  max-width: 270px;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 4 - 30px);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-title-color);
}

.team__title {
  text-align: center;
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--secondary-title-color);
}

.team-list__item {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-title-color);
}

.team-list__content {
  padding: 30px 30px;
}

.team-list__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients__title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--secondary-title-color);
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -30px;
  margin-top: -30px;
}

.clients-list__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 6 - 30px);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid var(--primery-icon-color);
  border-radius: 4px 4px 4px 4px;
  fill: var(--primery-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon:hover, .clients-icon:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.button-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -30px;
  margin-top: -30px;
}

.gallery-card {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.gallery-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.gallery-link {
  display: block;
  transition: box-shadow 250ms ease-in-out;
}

.gallery-link:hover, .gallery-link:focus, .gallery-link:active {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: none;
}

.gallery-link:hover .gallery-text,
.gallery-link:focus .gallery-text {
  transform: translateY(0);
  opacity: 1;
}

.gallery-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
}

.gallery-item {
  font-size: 16px;
  line-height: 2;
}

.gallery-btn {
  height: 38px;
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.62;
  color: var(--secondary-title-color);
  background-color: var(--bg-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-btn:hover, .gallery-btn:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.current-btn {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery-top-wrapper {
  position: relative;
  overflow: hidden;
}

.gallery-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--secondary-text-color);
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-logo {
  color: var(--secondary-text-color);
}

.adrress-item {
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.adrress-item:hover, .adrress-item:focus {
  color: var(--accent-color);
}

.adress-link {
  font-style: normal;
  line-height: 1.71;
  color: var(--secondary-text-color);
  transition: color 250ms ease;
}

.adress-link:hover, .adress-link:focus {
  color: var(--accent-color);
}

.footer-info {
  display: flex;
  align-items: baseline;
}

.footer-contact:last-child {
  margin-left: auto;
}

.footer-contact:not(:last-child) {
  margin-right: 70px;
}

.foter-social-title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.footer-social-list {
  max-width: 200px;
}

.footer-social-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-icon {
  width: 20px;
  height: 20px;
  fill: var(--secondary-text-color);
}

.singup-wrap {
  display: flex;
}

.singup-form {
  display: flex;
}

.form-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--primary-title-color);
  outline: none;
  padding: 15px;
  margin-right: 12px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover, .form-input:focus {
  border-color: var(--primary-title-color);
}

.form-input:hover::placeholder, .form-input:hover::placeholder, .form-input:focus::placeholder, .form-input:focus::placeholder {
  color: #ffffff;
}

.form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.singup-btn {
  padding: 10px 28px;
}

.singup-btn:hover, .singup-btn:focus {
  background-color: #188ce8;
}

.icon-send {
  margin-left: 10px;
}

.modal {
  width: 528px;
  height: 581px;
  background-color: var(--primary-title-color);
  border-radius: 4px;
  position: relative;
  opacity: 1;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.modal-field {
  margin-bottom: 10px;
  position: relative;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--secondary-title-color);
  margin-bottom: 12px;
}

.input-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  display: block;
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  color: var(--primary-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
  padding: 12px;
  padding-left: 42px;
  outline: none;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover, .modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input:hover + .icon-input,
.modal-input:hover + .icon-input, .modal-input:focus + .icon-input,
.modal-input:focus + .icon-input {
  fill: var(--accent-color);
}

.modal-input-text {
  width: 100%;
  height: 120px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  outline: none;
  background-color: transparent;
  padding: 12px 16px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-text:hover, .modal-input-text:focus {
  border-color: var(--accent-color);
}

.modal-input-text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.icon-input {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--secondary-title-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  padding: 10px 56px;
  display: block;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  border: 0;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover, .modal-btn:focus {
  background-color: #188ce8;
}

.input-wraper {
  display: block;
  position: relative;
}

.close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  background: transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  fill: #000000;
}

.close-btn:focus, .close-btn:hover {
  fill: var(--accent-color);
}

.check-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
  display: flex;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 1px solid var(--secondary-title-color);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:checked + .check-text span {
  background-color: var(--accent-color);
  border: none;
}

.modal-checkbox:hover + .check-text span,
.modal-checkbox:focus + .check-text span {
  border-color: var(--accent-color);
}

.check-link {
  color: var(--accent-color);
  margin-left: 5px;
}
/*# sourceMappingURL=main.css.map */